.fonts-loaded {
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
}
div{
    
    height: 80px;
}
.logo
{
    width: 34px;
    height: 49px;
    margin-right: 16px;
}
.logo:hover{
    transform: scaleX(1.1) scaleY(1.1);
    transition:0.5s;
}
nav,nav .left,nav>div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

nav .left div 
{
    
   display: flex;
   align-items: center;
   flex-direction: row;
}
.left>.home
{
    gap:10px;
}
.right a
{
margin-right: 60px;
display: flex;
align-items: center;
}

.c1
{
position: relative;
gap: 10px;
}
.c1 a{
    color: black;
    font-weight: bolder;
}

.right a,._1GTCc
{
  text-decoration: none;
  color: #3d4152;
  gap: 5px;
}
.address
{
    color: #717480;
}
.emore
{
    color: #fc811c;
}
.home:hover,.right a:hover,._1GTCc
{
    
    color: #fc811c;
}

.main_con
{
    margin: 40px 150px 10px 110px;
    
}
.sec_nav
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9eb;
    align-items: center;
    height: auto;
}
.sec_nav h2{
    margin: 0px;
    height: auto;
}
.sec_right
{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 35px;
    
}
.sec_right a{
    font-size: 16px;
    color: #7a7c88;
    text-decoration: none;
    
   
}
.sec_right a:hover
{
    text-decoration:underline black;

    
}
.filter
{

    display: flex;
    align-items: center;
    gap: 5px;
}

.imgs
{
    width:254px;
    height:160px
}
.iteminfo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    font-size: 12px;
    font-weight: 300;
    border-bottom: #686b78 solid 1px;
    color:#686b78;
    padding-top: 20px;
}

.ca1
{
    position: relative;
}

.ca1,.card
{
    width: 254px;
    height: fit-content;
    padding: 10px 10px 10px 10px;
    
}
.c2{
    width: 235px;
    height: fit-content;
    padding: 20px 5px 5px 5px;
    
}

.card
{
    padding: 0px;
    
    display: flex;
    flex-direction: column;
    gap:30px ;
 height:min-content;
 width: fit-content;
 justify-content: center;
 align-items: center;
}
.ca1 h3{
    margin: 0px;
    margin-top: 14px;
    font-size: 17px;
    font-weight:500px ;
}
.ca1 a
{
    color:#686b78;
    font-size: 13px;
    font-weight: 300px;
    margin-bottom: 18px;
}
.est{
    color:#686b78;
}
.offer
{
    padding-top:14px ;
    color: #8a584b;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: fit-content;
}
.c2
{
    text-align: center;
    color: #5d8ed5;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    top:-20px;
    display: none;
    width:240px;
    
}
.c2 button
{
    color: #5d8ed5;
    font-size: 13px;
    font-weight: 600;
    border: none;
    background-color: white;
    
}


.reslists
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
padding-top: 10px;
height: fit-content;

}

.star
{
    height: fit-content;
}
.star
{
    font-size:15px !important;
}
.rating
{
    background-color: #48c479;
    color: white;
    height: fit-content;
    display: flex;
    align-items: center;

}
.dots
{
    font-size: 19px;
    
    height: fit-content;
    margin-bottom: 10px;
}
.listrating
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.iteminfo
{
    align-items: center;
}
.card:hover .c2
{
    border-top:solid 1px  #686b78;
    display: block;
}
.card:hover
{
    outline: #686b78 solid 0.2px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.footer
{
    background-color: black;
    height:600px;
}
.comp div
{
    height:fit-content;
    color:#7a7c88;
}
.comli
{
    list-style-type: none;
    padding-left: 0%;
    
    
}
.comli a{
    text-decoration: none;
    color: antiquewhite;
}

.comli a:hover{
    color: white;
}
.downloadlinks
{
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
}

.downloadlinks img
{
    width: 200px;
    height: auto;
}
.part1
{
    display: grid;
    padding-top:76px ;
    margin: 0px 70px 0px 70px;
    height:510px;
    color:antiquewhite;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    border-bottom: solid 1px #4d4d4d;
    
}
.prompt
{
    position: absolute;
    left: -5px;
    color:white;
    background-color: #686b78;
    height: fit-content;
    font-size: 13px;
    font-weight: 500;
    padding-left:5px ;
    padding-right: 5px;
}
